
/* ======= GLOBAL BACKGROUND ======= */
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top, #00141a, #000000 70%);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ======= MAIN CARD ======= */
.container {
  width: 420px;
  padding: 35px;
  border-radius: 18px;
  background: #12081E;
  border: 1px solid #B35CFF;
  box-shadow: 0 0 25px rgba(0,255,255,0.15);
  backdrop-filter: blur(10px);
  text-align: center;
}

/* ======= TITLE ======= */
.title {
  font-size: 2.3rem;
  color: #ff00ff;
  margin-bottom: 15px;
  text-shadow: 0 0 12px #ff00ff;
  letter-spacing: 2px;
}

/*#00eaff ======= TEXTAREA ======= */
textarea {
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.4);
  color: #d6fbff;
  font-size: 1rem;
  padding: 12px;
  border: 1px solid #00eaff55;
  border-radius: 10px;
  outline: none;
  resize: none;
  transition: 0.3s;
}

textarea:focus {
  border-color: #ff00ff;
  box-shadow: 0 0 8px #ff00ff;
}

/* ======= BUTTON ======= */
button {
  margin-top: 18px;
  width: 100%;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff00ff, #0E0616);
  color: #00272e;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 5px 0 #6E2CA5;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0,255,255,0.25);
}

/* ======= RESULT BOX ======= */
.result {
  margin-top: 22px;
  padding: 14px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

.safe {
  color: #00ffb3;
  border: 1px solid #00ffb3;
  box-shadow: 0 0 12px #00ffb377;
}

.spam {
  color: #ff4a6b;
  border: 1px solid #ff4a6b;
  box-shadow: 0 0 12px #ff4a6b77;
}

/* ======= LOADING ANIMATION ======= */
.loader {
  margin-top: 18px;
}

.loader .ring {
  margin: auto;
  width: 38px;
  height: 38px;
  border: 4px solid #00eaff44;
  border-top: 4px solid #00eaff;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
